.grid3{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
}

.inside-grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    height: 100%;

}

.imagen{
        height: 100%;
        width: 100%;

}